main {
  .welcome {
    display: flex;
    flex-direction: column;
    align-items: center;
    h1 {
      padding-top: 160px;
      margin-bottom: 80px;
    }
  }

  .input {
    max-width: 800px;
    margin: 0 auto 39px;
    padding: 0 22px;
    .head {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    form {
      textarea, input, select{
        background-color: #EDEDED;
        border: none;
      }
      .parameter {
        display: flex;
        justify-content: right;
      }
      label, #aMapper-word-count {
        margin-right: 1em;
      }
      var {
        font-style: normal;
      }
      input, select {
        height: 1.5em;
        width: 4em;
        border-radius: 3px;
        font-size: 16px;
        text-align: right;
      }
      select {
        width: 8em;
      }
      textarea {
        padding: 0.5em;
        border-radius: 8px;
        width: calc(100% - 1em);
        height: 216px;
      }
      
      button {
        display: block;
        background-color: #48DC95;
        color: white;
        border: none;
        border-radius: 5px;
        font-size: 20px;
        padding: 0.5em 2em;
        margin-left: auto;
        //box-shadow: 5px 5px 10px rgb(38 57 147 / 10%);
        &:hover{
          background-color: #1dc574;
        }
        p, h4 {
          margin: 0;
        }
      }
    }
  }

  .output {
    background-color: #CED4D8;
    padding-bottom: 9em;
    .head {
      display: flex;
      flex-wrap: wrap;
      max-width: 800px;
      margin: 0 auto;
      h2 {
        margin-top: 38px;
        margin-left: 24px;
        margin-bottom: 40px;
        width: 100%;
        max-width: none;
      }
      a, #aMapper-curr-cluster {
        font-size: 1.125em;
        width: calc(100% / 3);
        max-width: none;
        text-align: center;
        margin-bottom: 38px;
      }
    }
    .hidden {
      display: none!important;
    }
    #aMapper-output {
      article {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: center;
        max-width: 940px;
        margin: 0 auto;
        :nth-child(n+6) {
          display: none;
        }
        h3{
          text-transform: capitalize;
          padding-top: 2em;
          font-size: 1.125em;
          width: 100%;
          max-width: none;
          text-align: center;
          margin-bottom: 2em;
        }
        div {
          min-width: 280px;
          background-color: #EDEDED;
          margin: 0 15px 15px;
          border-radius: 8px;
          padding: 2em 1em;
          //box-shadow: 5px 5px 10px #2639931a;
          .similarity, .index {
            font-size: .875em;
          }
        }
        .doc-count{
          display: block;
          text-align: center;
          margin: auto;
          width: 100%;
          max-width: none;
        }
      }
      @media all and (min-width: 500px) {
        article div {
          margin: 0 0 15px 15px!important;
        }
      }
    }
    #aMapper-output.show-all {
      article {
        :nth-child(n+6) {
          display: initial;
        }
      }
    }
    #aMapper-Output-Toggle {
      margin: 0 auto;
      text-align: center;
      display: block;
    }
    .guide {
      padding: 150px 22px 0;
      max-width: 600px;
      margin: 0 auto;
      .note {
        font-size: 14px;
        max-width: none;
      }
    }
  }
}