nav {
  display: flex;
  justify-content: space-between;
  height: 4em;
  padding: 2em calc( 100%/2 - 1200px/2 ) 0em;
  //background: #222222;
  div > a {
    padding: 1em 18px;
    text-decoration: none;
    color: #eeeeee;
  }
  img {
    height: 2em;
    margin-right: 4em;
  }
  @media all and (max-width: 500px) {
    max-width: 100%;
    padding-left: 1em;
    padding-right: 1em;
    div {
      a {
        padding: 0;
        margin-right: 0.8em;
      }
    }
    img {
      margin-right: unset;
    }
  }
}