@import 'app';

body {
  margin: 0;
  font-family: Montserrat, Helvetica, Arial;
  font-style: normal;
  font-weight: 400!important;
  font-size: 16px;
  min-height: 100%;
  line-height: 1.5;
  font-weight: 500;
  background-color: azure;
}

main {
  max-width: 1400px;
  min-height: 60vh;
  background-color: white;
  margin: auto;
}

h1, h2, h3, h4, h5 {
  //font-family: monospace;
  //font-weight: 700;
}

h1, h2, h3, h4, h5, p, a, label, var {
  font-weight: 400;
  max-width: 400px;
  margin-top: 0;
  margin-bottom: 1em;
}

h1 {font-size: 1.7em}
h2 {font-size: 1.4em}

a {
  color: #00A976;
}