<div class="input">
  <h2>Input data</h2>
  <form id='aMapper-input'>
  
    <textarea id='aMapper-input-data' placeholder="Put your raw data here..."></textarea>
    <p>Amount of clusters </p>
    <input type='number' value='3' min='1' id="aMapper-input-K">
  
    <p>Choose seprator</p>
    <select name="Separator" id="aMapper-input-separator">
      <option value="0">Line break '\n'</option>
      <option value="1">Dot ' . '</option>
      <option value="2">Comma ' , '</option>
      <option value="3">Colon ' : '</option>
      <option value="4">Semicolon ' ; '</option>
    </select>
  
      <button id='aMapper-submit'>
        <h4>
          Map!
        </h4>
      </button>
  </form>
</div>

<div class="output">
  <h2>Output data</h2>
  <div id='aMapper-output'>
    Your output data will be heres
  </div>
</div>

<script type='module' src='/public/js/aMapper.js'></script>